

.chessboard-container[b-xngup9ttt7] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; 
}

.chessboard[b-xngup9ttt7] {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
    width: 90vh;
    max-width: 90vw; 
    aspect-ratio: 1/1;
}

.top-left[b-xngup9ttt7] {
    border-top-left-radius: 10px;
}

.top-right[b-xngup9ttt7] {
    border-top-right-radius: 10px;
}

.bottom-left[b-xngup9ttt7] {
    border-bottom-left-radius: 10px;
}

.bottom-right[b-xngup9ttt7] {
    border-bottom-right-radius: 10px;
}
